.code-widget
  display inline-block
  background-color transparent
  font-size .75rem
  line-height 1
  font-weight bold
  padding .3rem .1rem .1rem .1rem
  position absolute
  right .45rem
  top .15rem
  z-index 1

.code-widget-light
  color #999

.code-widget-dark
  color #bababa

.copy-btn
  cursor pointer
  user-select none
  -webkit-appearance none
  outline none

  & > i
    font-size .75rem !important
    font-weight 400
    margin-right .15rem
    opacity 0
    transition opacity .2s ease-in-out

.markdown-body pre:hover > .copy-btn > i
  opacity 0.9

.markdown-body pre:hover > .copy-btn, .markdown-body pre:not(:hover) > .copy-btn
  outline none

button.copy-btn
  border 0
  font-family inherit

.markdown-body pre > .copy-btn:focus-visible
  outline 2px solid var(--link-hover-color)
  outline-offset 3px

.copy-btn:focus > i
  opacity 0.9

@media (hover: none)
  .copy-btn > i
    opacity 0.9

.copy-btn > i
  display inline-block
  width 1em
  text-align center

.copy-btn[data-copy-state] > i
  opacity .9

.copy-btn[data-copy-state="error"] > i::before
  content "!"
  font-family inherit
  font-weight bold
